ul.grid-item
	@include zen-grid-item(12, 1)
	@include zen-nested-container()
	background: transparent
	margin: 0
	padding: 0

li.grid-item
	display: block
	padding: $gel-margin
	@include zen-grid-item(6, 7)
	.inner
		background: grey
		padding: $gel-padding
		height: 130px - ($gel-padding*2)

li.grid-item:nth-child(even)
	@include zen-grid-item(6, 1)