@if $breakpoint == 1 or $breakpoint == 2
	ul.grid-item
		@include zen-clear
	.stream-item:nth-child(odd)
		@include zen-clear

@if $breakpoint == 3
	.stream-item	
		padding: $gel-margin*2
	// Item 1, 4, 7, 10, 13, 16
	.stream-item:nth-child(3n+1)
		@include zen-grid-item(4, 9)

	// Item 2, 5, 8, 11, 14, 17
	.stream-item:nth-child(3n+2)
		@include zen-clear
		@include zen-grid-item(4, 1)

	// Item 3, 6, 9, 12, 15, 18
	.stream-item:nth-child(3n+3)
		@include zen-grid-item(4, 5)

	// Item 19
	.stream-item:last-child
		display: none

@if $breakpoint == 4
	$stream-item-width: zen-unit-width() * 6
	$stream-item-height: 150px
	$stream-item-padding: ($gel-padding * 2) + ($gel-margin * 2)
	#stream
		@include zen-grid-item(19, 6)
		overflow-x: scroll
	ul.grid-item
		@include zen-grid-item(60, 1)
		height: $stream-item-height * 2 $gel-grid-margin
		@for $i from 0 through 18
			.stream-#{$i+1}
				float: left
				width: zen-unit-width() * 6
				margin: 0
				&.bottom
					margin-left: zen-unit-width() * -6
					position: relative
					top: $stream-item-height + $gel-grid-margin

		.stream-item
			list-style: none
			&:first-child,
			&:last-child
				display: none
			.inner
				height: $stream-item-height - $stream-item-padding
		.large
			.inner
				height: ($stream-item-height * 2) + $gel-grid-margin - $stream-item-padding













