@import "zen"
// Setup zen grid variables
$zen-gutter-width: 8px
$zen-column-count: 12
$zen-auto-include-item-base: false
$zen-auto-include-flow-item-base: false
$gel-grid-margin: 8px
$zen-grid-width: 100%

// Setup the grid container
#container
	@include zen-grid-container
	padding: 0 $gel-grid-margin

// Setup grid items
.grid-item, .stream-item
	@include zen-grid-item-base

// Apply fixed GEL margins (padding used for this purpose)
#container
	padding: 0 $gel-grid-margin - ($zen-gutter-width/2)